.boardMenu {
  background-color: #0079bf;
}
.boardMenu input {
  color: #2c3e5d;
}
.boardMenu textarea {
  color: #2c3e5d;
}
.header.header-board {
  background-color: #004269;
}
.lists {
  margin-top: 20px;
}
.lists__inner ul {
  display: flex;
  gap: 40px;

  height: 100%;

  overflow: auto hidden;
}
.action-board {
  display: flex;
  justify-content: space-between;
}
.scrollBoard {
  scrollbar-color: #fff6 #091e423d; /* thumb and track color */
  scrollbar-width: thin;

}
.scrollBoard::-webkit-scrollbar {
  height: 12px;
  width: 12px;

  background-color: transparent;
}
.scrollBoard::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #fff6;
}
.scrollBoard::-webkit-scrollbar-track {
  border-radius: 10px;

  background-color: #091e423d;
}
.lists__inner ul .cards {
  display: grid;
  /* grid-template-rows: 30px; */
  /* min-height: 70px; */
}
.sheetList {
  display: flex;
  gap: 40px;

  margin-bottom: 20px;
}
.sheetList div {
  height: max-content;
}
